@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* generic styles */
.gen-margin {
    margin: 4rem 4rem;
}

h1,h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.text-center {
    text-align: center;
}

button {
    border: none;
    background: none;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
}

.t-10 {
    position: relative;
    top: -15rem;
}

.g-overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 20vh;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

/* header */

header {
    height: 14vh;
    line-height: 10vh;
    padding: 0 20px;
    background: #e8e8e8;
    z-index: 100;
    position: fixed;
    overflow: hidden;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
    margin: 20px 0;
}

.pri-btn {
    padding: 0px 30px;
    background: #f7931e;
    font-weight: 600;
    color: #000;
    transition: all 0.5s;
}

.pri-btn:hover {
    background: #ad5600;
    color: #fff;
}

header ul {
    display: inline-block;
}

header ul li {
    display: inline-block;
    text-transform: uppercase;
}

header ul li a {
    color: #000;
    margin: 0 10px;
    transition: all 0.5s;
}

header ul li a:hover {
    color: #f7931e;
}


header button {
    padding: 13px 40px;
}

header .navlinks span {
    display: none;
}

.content {
    padding-top: 8px;
}

/* end of header */


/* hero image */

.carousel-item a {
    color: #000;
    padding: 10px 20px;
    background: #f7931e;
    text-transform: uppercase;
    font-weight: 600;
}

.carousel-item a:hover {
    text-decoration: none;
}


/* end of hero image */

/* book rooms */

.container-fluid {
    background-color: #afafaf;
    padding: 2rem 3rem;
}

.container-fluid h4 {
    padding: 1rem 0;
}

.container-fluid .form-group, button {
    margin: 0 5px;
}

.btn-primary {
    background-color: #f7931e;
    color: #000;
    border: none;
}

.btn-primary:hover {
    background: #ad5600;
}


/* why us section */
.why-us-wrapper {
    margin-top: 2rem;
}

.ico-circle {
    background: #f7931e;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    margin: 10px auto;
}

.ico-circle i {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 25px;
    color: #000;
}

.col-sm h2 {
    font-size: 1.5rem;
}

.col-sm p {
    font-size: 0.9rem;
}

/* popular locations section */
.card-deck {
    margin: 1rem -10px;
}


/* rentals carousel */

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}



/* responsiveness */
@media only screen and (max-width:768px) {
    header ul {
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #f7931e;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 9;
    }

    header ul li {
        display: block;
        text-align: center;
        line-height: 15vh;
    }

    header ul li a {
        color: #fff;
        transition: all 0.5s;
    }

    header ul li a:hover {
        color: #000;
    }

    header .navlinks span {
        color: #000;
        display: block;
        cursor: pointer;
        line-height: 10vh;
        font-size: 25px;
    }

    .pri-btn {
        padding: 15px 150px;
        background: #000;
        font-weight: 600;
        color: #fff;
    }
}